@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


</html>


<div class="text-center">
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
<body>
        <h1>The table element</h1>

        <table>
            <tr>
                <th>Dag</th>
                <th>Varm ret</th>
                <th>Kold ret</th>
            </tr>
            <tr>
                <td>Man 02</td>
                <td>Lasagne</td>
                <td>Brød</td>
            </tr>
            <tr>
                <td>Tir 03</td>
                <td>Spaghetti</td>
                <td>Kold spaghetti</td>
            </tr>
        </table>
    </body>
</div>
