@page "/info"

<html>
<div class="text-center">
    <!DOCTYPE html>

    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Karen er Karen</h1>

        <table>
            <tr>
                <th>Navn</th>
                <th>Email</th>
                <th>Telefon</th>
            </tr>
            <tr>
                <td>Karen</td>
                <td>jegerkaren@karen.karen</td>
                <td>12345678</td>
            </tr>
        </table>
    </body>
</div>
</html>